<h1>Find Good Joe</h1>
<%= form_for(@location) do |f| %>

<div id="address">
	<div>
		<%=f.label "where you at?" %>
		<%=f.text_field :address %>
	</div>
	<div>
		
		<%=f.hidden_field :latitude %>
	</div>
	<div>
			
			<%=f.hidden_field :longitude %>
	</div>
	<div>
		<%=f.submit %>
	</div>
</div>
<% end %>