<h1 class ="fontface">Find Good Coffee</h1>
<%= form_for(@location) do |f| %>

<div id="address">
	<div id="where">
		<p><%=f.label "where you at?" %></p>
		<div><%=f.text_field :address, :placeholder => "address state, city" %></div>
	</div>
	<div>
		
		<%=f.hidden_field :latitude %>
	</div>
	<div>
			
			<%=f.hidden_field :longitude %>
	</div>
	<div id="submit">
		<%=f.submit "Create", :type => :image, :src => "http://i.imgur.com/nQu1hGJ.gif?1"%>
	</div>
</div>
<% end %>