<p id="notice"><%= notice %></p>

<%@c.each do |p|%>
	<%if p.name != 'Starbucks'%>
		<%=p.name%></br>
		<%=p.rating%>
		<%=p.lat%>
		<%=p.lng%>
		<%= link_to 'Map', locations_path %>
	<%end%>
<%end%>

<%= link_to 'Back', locations_path %>